.list-group-item {
  line-height: 2.5;
}

.modal-icon{
  padding: 5px;
}

.list-group-item {
  line-height: 2.5;
}

ul {
  margin-left: 10px;
}

#logo {
 float: left; 
 margin: 30px; 
}

.col-md-3 {
  padding: 30px;
}

.col-md-9 {
margin: 30px;
}

.background {
  z-index: 0;
}

.card {
  background-color: white;
  margin: 25px;
  color: black;

}

.rounded-circle-1, .rounded-circle-2, .rounded-circle-3, .rounded-circle-4{
  float: left;
  width: 46px;
  height: 46px;
  margin: 10px;
  border: limegreen;
  border-width: 5px;
}

.rounded-circle-4-red {
  float: left;
  width: 46px;
  height: 46px;
  box-shadow: 0 4px 8px 0 rgba(252, 0, 0, 0.6), 0 6px 20px 0 rgba(252, 0, 0, 0.6);
 }

 li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9pt;
   color: #1B75BB;
 }

 button {
   border: none;
   background-color: #1B75BB;
   font-size: 8pt;
   color:white;
   border-radius: 5px;
   box-align: center;
   text-align: center;
   line-height: 11px;
   padding: 5px;
 }


 #background {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
  
 }

 .error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}