
* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}  

.list-group-item {
  line-height: 2.5;
}

.modal-icon{
  padding: 5px;
}

.list-group-item {
  line-height: 2.5;
}

ul {
  margin-left: 10px;
}

#logo {
 float: left; 
 margin: 30px; 
}

.col-md-3 {
  padding: 30px;
}

.col-md-9 {
margin: 30px;
}

.card {
  background-color: white;
  margin: 25px;
  color: black;
  width: 100%;
  height: auto;
}

.img-circle {
  float: left;
  width: 46px;
  height: 46px;
  margin: 10px;
  border: limegreen ;
  border-width: 5px;
  border-radius: 50px;
  /* box-shadow: 0 4px 8px 0 rgba(252, 0, 0, 0.6), 0 6px 20px 0 rgba(252, 0, 0, 0.6); */
}

 li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9pt;
   color: #1B75BB;
 }

 button {
   border: none;
   background-color: #1B75BB;
   font-size: 8pt;
   color:white;
   border-radius: 5px;
   box-align: center;
   text-align: center;
   line-height: 11px;
   padding: 5px;
 }


 #background {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
  
 }
 .error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

 div.loginbox{
  background-image: url("../images/logos/falcontile.png");
  height: 100vh;
 }

 .loginbox a {
 top: 50%;
 position: absolute;
 translate: transformY(-50%);
 transform: translateY(-50%);
 }
